* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --primary: #fff;
  --secondary: #5e50a1;
  --primarytext: #1f2a36;
  --secondarytext: #5e50a1;
  --triartytext: #fff;
  --fourtytext: #9ea0a5;
  --border: #fbb0175e;
  --login: #fbb017;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary);
  color: var(--primarytext);
  /* min-height: 2000px; */
}

/* page landing */
button.btn-landing-page {
  transition: 0.2s;
  font-weight: 700;
  padding: 0.6rem 1.1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--secondary);
}

button.btn-landing-page-outline {
  background-color: var(--primary);
  color: var(--secondarytext);
}

button.btn-landing-page-outline:hover {
  background-color: var(--secondary);
  color: var(--triartytext);
}

button.btn-landing-page-inline {
  background-color: var(--secondary);
  color: var(--triartytext);
}

button.btn-landing-page-inline:hover {
  background-color: rgb(75, 64, 129);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 150px;
  /* margin: 0px 3px 7%; */
  /* background-color: var(--border); */
  position: sticky;
  top: 0;
}

.navbar .navbar-logo img {
  height: 35px;
  width: 100%;
}

.navbar .navbar-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .navbar-profile a {
  margin-left: 40px;
}

.navbar .navbar-profile a.icons {
  width: 100%;
  height: 100%;
}

.navbar .navbar-profile a.user-icons {
  width: 100%;
  height: 100%;
}

/* navbar-custom for landing-page */
nav.navbar-custom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 150px;
  /* margin: 0px 3px 7%; */
  /* background-color: var(--border); */
  position: sticky;
  top: 0;
}

nav.navbar-custom .navbar-logo img {
  height: 35px;
  width: 100%;
}

nav.navbar-custom .navbar-auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: nowrap;
}

nav.navbar-custom .navbar-auth a {
  /* color: var(); */
  flex-basis: auto;
  font-size: 14px;
}
/* navbar-custom for landing-page end */

@media screen and (max-width: 660px) {
  .navbar {
    padding: 1.4rem 30px;
  }

  .navbar .navbar-logo img {
    height: 50%;
    width: 100%;
  }

  .navbar .navbar-profile {
    display: block;
  }

  .navbar .navbar-profile a {
    margin-left: 20px;
  }

  .navbar .navbar-profile a.icons img {
    width: 15%;
  }

  .navbar .navbar-profile a.user-icons img {
    width: 32px;
  }
}

@media screen and (max-width: 375px) {
  .navbar .navbar-logo img {
    width: 80%;
  }

  .navbar .navbar-profile a {
    margin-left: 18px;
  }
}
/* Navbar end */

/* Container bootstrap for landing page */
.container {
  padding: 1.4rem 6%;
}

.container-slider {
  padding: 100px 110px;
}

.content-active > section {
  display: flex;
  justify-content: space-around;
  gap: 22px;
  margin: 76px 40px;
}

.content-active > section .landing-page-title {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.content-active > section .landing-page-title h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 70px;
}

.content-active > section .landing-page-title p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
  color: #46505c;
}

.content-active > section .landing-page-title button {
  font-weight: 700;
  font-size: 16px;
  margin-top: 56px;
  padding: 21.5px;
}

.content-active > section .landing-page-subtitle {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 26px 0;
}

.content-active > section .landing-page-subtitle.add-extra-right {
  padding: 67px 0 67px 12%;
}

.content-active > section .landing-page-subtitle h1 {
  flex-basis: auto;
  width: 80%;
  font-weight: 600;
  font-size: 36px;
  line-height: 56px;
}

.content-active > section .landing-page-subtitle p {
  flex-basis: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.content-active > section .landing-page-subtitle ul {
  flex-basis: auto;
  width: 100%;
  height: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46505c;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
}

.content-active > section .landing-page-subtitle ul li {
  margin: 16px 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
}

.content-active > section .landing-page-img {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-active > section .landing-page-img img {
  max-width: 100%;
  height: auto;
}

.content-active > section .join-box {
  background-color: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 68px;
  border-radius: 40px 8px 40px 8px;
  transition: 0.4s;
}

.content-active > section .join-box:hover {
  background-image: url(../img/bg-special.png);
  background-position: 0 95.3%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-active > section .join-box h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
  width: 27%;
  color: var(--triartytext);
}

.content-active > section .join-box button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 24px;
}

.content-active > section .join-box button:hover {
  background-color: rgba(94, 80, 161, 0);
}

/* review slider */
.content-active .review-title {
  display: block;
  text-align: center;
  margin-bottom: 52px;
}

.content-active .review-title h1 {
  font-weight: 600;
  font-size: 36px;
}

.content-active .review-slider {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.content-active .review-slider .arrow-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-active .review-slider .arrow-slider img {
  padding: 10px;
  border-radius: 100%;
  background-color: var(--secondary);
}

.content-active .review-slider .arrow-slider img.slider-left {
  position: relative;
  left: 50px;
}

.content-active .review-slider .arrow-slider img.slider-right {
  position: relative;
  right: 50px;
}

.content-active .review-slider .profile-reviewer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25%;
  background-color: var(--primary);
  box-shadow: 0px 8px 16px 0px #c5c5c540;
  padding: 2% 3%;
}

.content-active .review-slider .profile-reviewer .review-slider-img {
  margin: 12px 0;
}

.content-active .review-slider .profile-reviewer .review-slider-img img {
  max-width: 120px;
  height: auto;
  border: 10px solid #fbb0175e;
  border-radius: 100%;
}

.content-active .review-slider .profile-reviewer h2 {
  font-size: 30px;
  font-weight: 600;
}

.content-active .review-slider .profile-reviewer h3 {
  font-size: 18px;
  font-weight: 400;
  color: var(--fourtytext);
}

.content-active .review-slider .profile-reviewer p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #46505c;
  text-align: center;
  padding: 0 2%;
}

/* slider end */
/* page landing end */

/* home, profile */
main.bg-home {
  background-color: #f6f7f8;
}

main.bg-profile {
  background: url(../img/bg-profile.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* background: linear-gradient(to top, #f6f7f8 68%, var(--secondary) 32%); */
}

/* main.bg-profile-alt {
  background: linear-gradient(to top, #f6f7f8 85%, var(--secondary) 0%);
} */

/* component */
.profile-home-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.profile-home-h1 {
  font-weight: 600;
  font-size: 22px;
  color: var(--primarytext);
}

h2.profile-home-h2 {
  font-weight: 400;
  font-size: 14px;
  color: var(--primarytext);
}

h3.profile-home-h3 {
  font-weight: 400;
  font-size: 14px;
  color: var(--fourtytext);
}

/* tag */
ul.tag {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
}

ul.tag li {
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
  color: var(--triartytext);
  padding: 4px 5%;
  border: 1px solid #fbb017;
  background-color: rgba(251, 176, 23, 0.6);
  border-radius: 4px;
  margin: 10px 10px 10px 0;
}

ul.tag li.p-0 {
  padding: 4px 3%;
}

ul.tag li.p-1 {
  padding: 4px 7%;
}

ul.tag li.p-2 {
  padding: 4px 8.6%;
}

ul.tag li.p-3 {
  padding: 4px 10%;
}
/* tag end */
/* component end */

.container-header {
  padding: 30px 150px;
  background-color: var(--secondary);
  color: var(--triartytext);
}

.container-header h1 {
  font-weight: 700;
  font-size: 28px;
}

/* home container */
.container-home {
  margin: 0 150px;
  padding: 50px 0 70px 0;
  justify-content: center;
  align-items: flex-start;
}

.container-home #search-bar-home {
  background-color: var(--primary);
  width: 100%;
  height: 70px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-home #search-bar-home .search-input {
  width: 80%;
  height: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid var(--fourtytext);
}

.container-home #search-bar-home .search-input input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--fourtytext);
}

.container-home #search-bar-home .search-input input::placeholder {
  color: var(--fourtytext);
}

.container-home #search-bar-home .search-input button {
  padding: 13px;
  background-color: var(--primary);
}

.container-home #search-bar-home .search-input img {
  width: 100%;
  height: 100%;
}

.container-home #search-bar-home .search-btn {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-home #search-bar-home .search-btn button {
  background-color: var(--secondary);
  width: 48%;
  height: 100%;
  padding: 17px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--triartytext);
}

.container-home #search-bar-home .search-btn span {
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
  color: var(--fourtytext);
}

.container-home section#user-list-bar {
  background-color: var(--primary);
  width: 100%;
  border-radius: 8px;
  margin: 30px 0 50px 0;
  box-shadow: 0px 1px 20px 0px rgba(197, 197, 197, 0.251);
}

.container-home section .user-list {
  border-top: 2px solid #f6f7f8;
  border-bottom: 2px solid #f6f7f8;
  background-color: var(--primary);
  width: 100%;
  padding: 21px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 11px;
}

.container-home section .user-list .profile-home-img {
  flex-basis: auto;
}

.container-home section .user-list .profile-home-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;

  margin: 0 20px;
}

.container-home section .user-list .profile-home-desc {
  flex-basis: auto;
  width: 60%;
}

.container-home section .user-list .profile-home-desc h1 {
  margin: 6px 0;
}

.container-home section .user-list .profile-home-desc h3 {
  margin: 6px 0;
}

.container-home section ul#skill-tag {
  margin-top: 1px;
}

.container-home section .profile-home-btn {
  flex-basis: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 73px;
}

/* button */
.container-home section a.btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 27px;
  color: var(--triartytext);
  background-color: var(--secondary);
  border-radius: 4px;
  transition: 0.2s;
}
/* button end */

.container-home #pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.container-home #pagination .arrow {
  width: 58px;
  height: 58px;
  display: flex;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--fourtytext);
  border: 1px solid #e2e5ed;
  border-radius: 4px;
}

.container-home #pagination .arrow img {
  width: 20px;
  height: 20px;
}

.container-home #pagination ul {
  flex-basis: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.container-home #pagination li {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  width: 58px;
  height: 58px;
  display: flex;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--fourtytext);
  border: 1px solid #e2e5ed;
  border-radius: 4px;
}

.container-home #pagination li.active {
  font-weight: 700;
  background-color: var(--secondary);
  color: var(--triartytext);
  border-radius: 4px;
}

/* home container end */

/* profile container */
.container-profile {
  /* width: 100%; */
  padding: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

/* aside */
.container-profile aside {
  /* background-color: aquamarine; */
  width: 30%;
  /* margin: 0 15px 0 0; */
  flex-basis: auto;
}

.container-profile aside .profile-home {
  padding: 30px;
  border-radius: 8px;
  background-color: var(--primary);
  margin-bottom: 17.5px;
}

.container-profile aside .profile-home .profile-home-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.container-profile aside .profile-home .profile-home-edit {
  justify-content: center;
  padding: 20px 0 31px 0;
}

.container-profile aside .profile-home .profile-home-edit span {
  font-weight: 600;
  font-size: 22px;
}

.container-profile aside .profile-home h1 {
  margin-top: 13px;
}

.container-profile aside .profile-home h2 {
  margin-top: 10px;
  margin-bottom: 13px;
}

.container-profile aside .profile-home h3 {
  margin-top: 13px;
}

/* text with icons */
.text-with-icons {
  display: flex;
  align-items: center;
}

.text-with-icons img {
  display: flex;
  align-items: center;
  margin: 0;
}

.text-with-icons span {
  font-weight: 400;
  font-size: 14px;
  color: var(--fourtytext);
}
/* text with icons end */

.text-with-icons.map img {
  width: 16px;
  height: 16px;
}

.text-with-icons.map span {
  margin-left: 11px;
}

.text-with-icons.edit img {
  width: 16px;
  height: 16px;
}

.text-with-icons.edit span {
  margin-left: 6px;
}

.text-with-icons.socialmedia img {
  width: 24px;
  height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.text-with-icons.socialmedia span {
  margin-left: 20px;
}

.container-profile aside .profile-home socme.profile-d {
  margin-bottom: 40px;
}

.container-profile aside .profile-home p {
  margin: 18px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--fourtytext);
}

/* button */
.container-profile aside .profile-home a.btn-profile {
  display: block;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  color: var(--triartytext);
  background-color: var(--secondary);
  border-radius: 4px;
  transition: 0.2s;
}
/* button end */

.container-profile aside .profile-home ul#skill-tag {
  margin-top: 10px;
  margin-bottom: 36px;
}

.container-profile aside > a.btn-profile {
  display: block;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  color: var(--triartytext);
  background-color: var(--secondary);
  border-radius: 4px;
  transition: 0.2s;
  margin: 15px 0;
}

.container-profile aside > a.btn-profile-sec {
  display: block;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  color: var(--secondarytext);
  border: 1px solid var(--secondary);
  border-radius: 4px;
  transition: 0.2s;
  margin: 15px 0;
}

.container-profile aside > a.btn-profile-sec:hover {
  background-color: var(--secondary);
  color: var(--triartytext);
}

/* aside end */

/* section */
.container-profile > section {
  background-color: var(--primary);
  width: 70%;
  /* margin: 0 0 0 15px; */
  border-radius: 8px;
  flex-basis: auto;
  padding: 30px 30px 10px 30px;
}

.container-profile > section ul.toolbar {
  margin-bottom: 24px;
}

.container-profile ul.toolbar {
  display: flex;
}

.container-profile ul.toolbar li {
  list-style-type: none;
  margin-right: 30px;
  flex-basis: auto;
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 6px;
  color: var(--fourtytext);
}

.container-profile ul.toolbar li.active {
  border-bottom: 4px solid var(--secondary);
  color: var(--primarytext);
}

.container-profile section .portofolio-gallery {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.container-profile > section .portofolio-gallery .portofolio-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 32%;
}

.container-profile > section .portofolio-gallery .portofolio-card img {
  width: 100%;
  height: 100%;
}

.container-profile > section .portofolio-gallery .portofolio-card span {
  font-weight: 400;
  font-size: 14px;
  margin: 6px 0 30px 0;
}
/* section end */

.container-profile section.card .card-header {
  color: var(--primarytext);
}

.container-profile section.card .card-main {
  color: var(--fourtytext);
}

.container-profile section.card .card-main .input-card-with-button button {
  background-color: var(--login);
}

.container-profile
  section.card
  .card-main
  .input-upload-card
  input[type="file"] {
  display: none;
}

.container-profile
  section.card
  .card-main
  .input-upload-card
  label.custom-upload {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239EA0A5FF' stroke-width='1' stroke-dasharray='20%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.container-profile
  section.card
  .card-main
  .input-upload-card
  label.custom-upload
  .custom-upload-details {
  color: #1f2a36;
  /* background-color: aqua; */
}
/* profile container end */
@media screen and (max-width: 1440px) {
  .container-home section .user-list .profile-home-desc {
    width: 50%;
  }
  .container-home section .profile-home-btn {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1279px) {
  .container-home section .user-list {
    gap: 5px;
  }
  .container-home section .user-list .profile-home-desc {
    width: 50%;
  }
  .container-home section .profile-home-btn {
    padding: 0 4%;
  }
  .container-profile aside > a.btn-profile-sec {
    display: none;
  }
}

@media screen and (max-width: 1270px) {
  .container-home #search-bar-home .search-input {
    width: 70%;
  }

  .container-home #search-bar-home .search-btn {
    width: 30%;
  }

  .container-profile aside {
    width: 60%;
  }
  .container-profile > section .portofolio-gallery .portofolio-card {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  main.bg-profile {
    /* background: linear-gradient(0deg, #f6f7f8 77%, var(--secondary) 0%); */
  }

  .container-home section .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }

  .container-home section .user-list .profile-home-desc {
    width: 70%;
  }

  .container-home section .profile-home-btn {
    padding: 0 4%;
    width: 100%;
  }

  .container-home #pagination {
    gap: 10px;
  }

  .container-home #pagination .arrow {
    /* width: 58px;
    height: 58px;
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--fourtytext);
    border: 1px solid #e2e5ed;
    border-radius: 4px; */
  }

  .container-home #pagination .arrow img {
    /* width: 20px;
    height: 20px; */
  }

  .container-home #pagination ul {
    gap: 10px;
  }

  .container-home #pagination li {
    /* list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    width: 58px;
    height: 58px;
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--fourtytext);
    border: 1px solid #e2e5ed;
    border-radius: 4px; */
  }

  .container-home #pagination li.active {
    /* font-weight: 700;
    background-color: var(--secondary);
    color: var(--triartytext);
    border-radius: 4px; */
  }

  .container-profile {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-profile aside {
    width: 80%;
  }

  .container-profile > section {
    width: 100%;
  }

  .container-profile > section .portofolio-gallery .portofolio-card {
    width: 32%;
  }
}

@media screen and (max-width: 960px) {
  .container-home #search-bar-home .search-input {
    width: 60%;
  }

  .container-home #search-bar-home .search-btn {
    width: 40%;
  }

  .container-home #pagination .arrow {
    width: 40px;
    height: 40px;
  }

  .container-home #pagination li {
    width: 45px;
    height: 45px;
  }

  .container-profile > section .portofolio-gallery .portofolio-card {
    width: 48%;
  }

  .container-home section .user-list .profile-home-desc {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  main.bg-profile {
    /* background: linear-gradient(0deg, #f6f7f8 79%, var(--secondary) 0%); */
  }

  .container-profile aside {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .container-home {
    margin: 0 30px;
    padding: 30px 0;
  }

  .container-profile {
    margin: 0 30px;
    padding: 30px 0;
  }

  .container-profile > section .portofolio-gallery .portofolio-card {
    width: 48%;
  }

  .container-profile ul.toolbar li {
    margin-right: 20px;
    font-size: 19px;
    padding-bottom: 6px;
    color: var(--fourtytext);
  }
}

@media screen and (max-width: 670px) {
  .container-home section .user-list .profile-home-desc {
    /* width: 100%; */
  }
  .container-home #search-bar-home .search-input {
    width: 50%;
  }

  .container-home #search-bar-home .search-btn {
    width: 50%;
  }

  .container-home #pagination li.hidden {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .container-header {
    text-align: center;
    padding: 30px;
  }

  ul.tag {
    justify-content: center;
  }

  .text-with-icons {
    margin-top: 4%;
    justify-content: center;
  }

  .container-home #search-bar-home {
    flex-wrap: wrap;
    height: 100%;
  }

  .container-home #search-bar-home .search-input {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--fourtytext);
  }

  .container-home #search-bar-home .search-btn {
    width: 100%;
    padding-top: 3%;
  }

  .container-home section .user-list .profile-home-img img {
    width: 140px;
    height: 100%;
  }

  .container-home section .user-list .profile-home-desc {
    text-align: center;
    width: 100%;
    padding: 0 4%;
  }

  .container-home #pagination .arrow {
    width: 30px;
    height: 30px;
  }

  .container-profile {
    margin: 0 15px;
  }

  .container-profile > section .portofolio-gallery .portofolio-card {
    width: 100%;
  }

  .container-profile ul.toolbar li {
    margin-right: 10px;
  }

  .container-profile > section .portofolio-gallery .portofolio-card {
    width: 100%;
  }

  .container-profile > section .portofolio-gallery {
    gap: 6px;
  }
}

@media screen and (max-width: 375px) {
  .container-profile ul.toolbar li {
    margin-right: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
}
/* home, profile end */

/* login */
.container-login {
  display: flex;
  margin: 39px 75px;
}

.container-login aside {
  width: 650px;
  height: 822px;
  background-color: white;
  background-image: linear-gradient(
      rgba(94, 80, 161, 0.8),
      rgba(94, 80, 161, 0.8)
    ),
    url(../img/login-img.png);
  background-repeat: no-repeat;
  background-position: center;
}

.container-login aside img {
  width: 86px;
  height: 24px;
  position: relative;
  top: 6%;
  left: 7%;
}

.container-login aside .dashboard-text {
  /* background-color: azure; */
  width: 456px;
  height: 280px;
  position: relative;
  top: 23%;
  left: 9.5%;
  /* transform: translateY(-31.8%); */
}

.container-login aside .dashboard-text h1 {
  color: var(--triartytext);
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
}

.container-login section {
  width: 60%;
  height: 822px;
  margin-left: 75px;
  /* background-color: peachpuff; */
}

.container-login section#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primarytext);
}

.container-login section#login h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 43.58px;
}

.container-login section#login p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  margin-top: 16px;
  margin-bottom: 20px;
}
.container-login section#login .input-flex {
  display: flex;
  flex-flow: column nowrap;
}
.container-login section#login .input-flex span {
  font-weight: 400;
  font-size: 12px;
  color: #9ea0a5;
  margin-top: 32px;
  margin-bottom: 4px;
}
.container-login section#login .input-flex input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding: 0 15px;
  border: 1px solid lightgrey;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #858d96;
}

.container-login section#login h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  display: block;
}

.container-login section#login h6#forget-password {
  margin: 24px 0;
  text-align: right;
}

.container-login section#login h6#register {
  text-align: center;
}

.container-login section#login h6#register a {
  color: var(--login);
}

.container-login section#login h6#register a:hover {
  color: rgb(231, 162, 22);
}

.container-login section#login a#login-btn {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 0.3rem;
  color: var(--triartytext);
  background-color: var(--login);
  margin-bottom: 28px;
  transition: 0.2s;
}

.container-login section#login a#login-btn:hover {
  background-color: rgb(231, 162, 22);
}

@media screen and (max-width: 1440px) {
  .container-login section {
    width: 650px;
  }
}

@media screen and (max-width: 1290px) {
  .container-login section {
    width: 650px;
  }

  .container-login aside .dashboard-text h1 {
    font-size: 33px;
  }

  .container-login aside .dashboard-text {
    width: 400px;
    left: 8%;
  }
}

@media screen and (max-width: 1024px) {
  .container-login section {
    width: 60%;
  }
}

@media screen and (max-width: 924px) {
  .container-login {
  }
  .container-login aside {
    display: none;
  }
  .container-login section {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .container-login {
    margin: 19.5px 37.5px;
  }
}
/* login end */

/* footer */
footer {
  width: 100%;
  /* height: 401px; */
  background-color: var(--secondary);
  padding: 0 150px 50px 150px;
  color: var(--triartytext);
  /* position: fixed;
  bottom: 0; */
}

footer img {
  max-width: 178px;
  height: 100%;
  padding-top: 70px;
}

footer p {
  width: 33%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 67px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

footer .footer-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid var(--primary);
}

footer .footer-flex h6,
footer .footer-flex a {
  font-weight: 400;
  font-size: 18px;
}

footer .footer-flex a {
  text-decoration: none;
  color: var(--triartytext);
  margin-left: 79px;
}

@media screen and (max-width: 1024px) {
  footer img {
    width: 30%;
  }
  footer p {
    width: 50%;
  }
}

@media screen and (max-width: 860px) {
  footer img {
    width: 30%;
  }
  footer p {
    width: 80%;
  }

  footer .footer-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .footer-flex .footer-flex-contact {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    gap: 30px;
  }

  footer .footer-flex a {
    margin-left: 0;
  }
}

@media screen and (max-width: 660px) {
  footer {
    padding: 0 30px 50px 30px;
    text-align: center;
  }
  footer img {
    width: 50%;
  }
  footer p {
    width: 100%;
  }
}
